/ .center
/   #myCarousel.carousel
/     .carousel-inner
/       .active.item
/         = image_tag book.image_url(:thumb), book_path(book)
/     %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
/     %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›